#add-todo {
    background-color: lightslategrey;
}

h2 {
    font-style: italic;
    color: purple;
}

form {
    display: flex;
    align-items: left;
    justify-content: left;
    border: 1px dashed red;
}

label {
    margin: 0 10px 10px 0;
    align-items: right;
    margin-left: 1em;
}

@media screen and (max-width: 600px) {
    form {
        flex-direction: column;
        align-items: initial;
    }

    label {
        justify-content: space-between;
        max-width: 200px;
    }
}