* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 8 auto;
}

header {
    text-align: center;
}

img {
    width: 5em;
}
main {
    display: flex;
    flex-direction: column;
}

.danger {
    background: rgb(0, 0, 20);
    color: pink;
    border: 1px solid red;
}